__pycache__/
*.py[cod]
.venv/
venv/
env/

data/raw/*
data/cleaned/*
data/sample/*
!data/raw/.gitkeep
!data/cleaned/.gitkeep
!data/sample/.gitkeep

results/profiles/*
results/anomalies/*
results/performance/*
!results/profiles/.gitkeep
!results/anomalies/.gitkeep
!results/performance/.gitkeep

*.log
.DS_Store
Thumbs.db
